In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('class10details.csv')

In [11]:
df.head(1)

,S.No.,Regn.No.,Board,Certificate,Examination,Year,Name,Roll No.,Mother's Name,Father's/Guardian's Name,Date of Birth,DOB in Words,School Code,School Name with Address,"Scholastic Achivements(Sub Code, Subject, Theory, Internal/Practical, Total, Total in Words, Positional Grade)",Result,Dated
0,SSE/2019/0943390,A119/16397/0039,CENTRAL BOARD OF SECONDARY EDUCATION,MARKS STATEMENT CUM CERTIFICATE,SECONDARY SCHOOL EXAMINATION,2019,KUSHAL MITTAL,1131444,DR SHOBHA MITTAL,ANAND KUMAR MITTAL,04-08-2004,4TH AUGUST TWO THOUSAND FOUR,16397,BIRLA INT SCHOOL BANDER SINDRI AJMER,"[ [""101"" , ""ENGLISH COMM"" , ""069"" , ""018"" , ""0...",PASS,06-05-2019

In [15]:
df['Scholastic Achivements(Sub Code, Subject, Theory, Internal/Practical, Total, Total in Words, Positional Grade)'].values

array(['[ ["101" , "ENGLISH COMM" , "069" , "018" , "087" , "EIGHTY SEVEN" , "B1"] , ["122" , "SANSKRIT" , "065" , "020" , "085" , "EIGHTY FIVE" , "A2"] , ["041" , "MATHEMATICS" , "075" , "019" , "094" , "NINETY FIVE" , "A2"] , ["086" , "SCIENCE" , "057" , "017" , "074" , "SEVENTY FOUR" , "B1"] , ["087" , "SOCIAL SCIENCE" , "071" , "018" , "089" , "EIGHTY FIVE" , "B1"] ]'],
      dtype=object)